<section class="probootstrap_cover_v3 overflow-hidden relative text-center"
  style="background-image: url('assets/images/img_1.jpg');height: 50vh;" id="section-home">
  <div class="overlay"></div>
  <div class="container">
    <div class="row align-items-center justify-content-center" style="height:60vh">
      <div class="col-md">
        <h2 class="heading mb-2 ">الاخبار</h2>
        <p class="lead mb-5  ">اخبار غرفة صناعة النسيج</p>
      </div>
    </div>
  </div>

</section>
<!-- END section -->
<br>

<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="row">
      <div class="col-md-4" *ngFor="let new of News">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" (error)="new.ImageURL = 'assets/images/test.jpg'" src="{{new.ImageURL}}" alt="{{new.Address}}">
          <div class="card-body">
            <h5 class="card-title">{{new.Address}}</h5>
            <p class="card-text" innerHTML="{{new.Content}}"></p>
            <a href="http://{{new.VideoURL}}" class="btn btn-primary" target="_blank">لينك الفيديو</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
